{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Add Team Member</title>
        <link rel="stylesheet" type="text/css" href="{% static '../static/styles.css' %}">
    </head>
    <body>
        <h1>Add a team member</h1>
        <p>Set email, location and role.</p>
        <form method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="form-errors">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            {% for field in form %}
                <div class="form-field">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        <div class="field-errors">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit">Save</button>
        </form>
        
    </body>
</html>